@{
    ViewData["Title"] = "Gizlilik Politikası";
    ViewData["Description"] = "Sayfa içeriğinin güvenliği hakkında";
}
<h1>@ViewData["Title"]</h1>

<p>Geliştiriciye ait kodlar kullanıma ve önerilere açıktır.</p>
